.header_outer_container{
    width: 100%;
    padding: 20px 6%;
    position: fixed;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 10% transparent);
    z-index: 1;
}
.header_container{
    width: 93%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #e5e5e5;
}
.header_left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header_left img{
    width: 90px;
}
.header_left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.header_left ul li{
    cursor: pointer;
}
.header_right ul{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    height: 80px;
}
